body {
    margin: 2px;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 0.7em;
}

#youtube-center-logo {
    margin-top: 15%;
    text-align: center;
}

#content table {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}

#content table td {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#content table td.author-cell,
#content table td.title-cell {
    padding-left: 2px;
}

#content table td.author-cell {
    vertical-align: middle;
}

#content table td.title-cell {
    height: 100%;
}

#content table td.author-icon-cell {
    padding-top: 1px;
    text-align: right;
}

#content table .author-icon {
    width: 12px;
    height: 12px;
}

#content table .video-thumb-container {
    position: relative;
}

#content table .video-thumb-container,
#content table .video-thumb {
    width: 73px;
    height: 41px;
}

#content table td.thumb-cell.watched img {
    opacity: 0.4;
}

#content table .author {
    color: #474747;
}

#content table .duration {
    position: absolute;
    right: 1px;
    bottom: 2px;
    background-color: black;
    color: white;
    padding-left: 1px;
    padding-right: 1px;
}

#content table .duration.live {
    border: 1px solid #ff5e56;
    color: #ff5e56;
    padding-left: 1px;
    padding-right: 1px;
}

#content table td.border-bottom {
    border-bottom: 1px solid #cbdae2;
    width: 73px;
}